<script type="text/javascript">
    $(window).load(function () {
        var EtsInfo = {
            per_page: 15,
            cur_page: 1,
            cur_node: '{{cur_node}}',
            ets: '{{ets}}',
            ets_size: 0,

            get_vm_ets_detail: function () {
                Util.show_tips("Loading...", 0, "");
                var url = "./vm_state?act=get_vm_ets_detail&ets="
                        + EtsInfo.ets + "&cur_node=" + EtsInfo.cur_node;
                $.getJSON(url, {}, function (j) {
                    var _html = [];
			        _html.push("<tr>");
                    _html.push("<td width='25%'>ID</td>");
                    _html.push("<td>", EtsInfo.ets, "</td>");
                    _html.push("</tr>");
                    $.each(j, function (key, val) {
                        switch (key) {
                            case "name":
                                $("#ets_name").html(val);
                                break;
                            case "size":
                                EtsInfo.ets_size = val;
                                break;
                        }
                        _html.push("<tr>");
                        _html.push("<td>", key, "</td>");
                        _html.push("<td>", val, "</td>");
                        _html.push("</tr>");
                    });
                    $("#ets_detail_zone").html(_html.join(""));

                    Util.hide_tips();
                });
            },

            get_ets_data: function(page) {
                Util.show_tips("Loading...", 0, "");
            var url = "./vm_state?act=get_module_source&ets=" + EtsInfo.ets + "&cur_node=" + EtsInfo.cur_node;
            $.getJSON(url, {}, function (j) {
                var _html = [];
		        var result = "";
                if (j.result) {
                    result = j.result.replace(/\n/g, "<br />");
                    result = result.replace(/\t/g, "&nbsp;&nbsp;&nbsp;&nbsp;");
                }
                _html.push("<tr>");
                _html.push("<td>", result, "</td>");
                _html.push("</tr>");
                $("#ets_data_zone").html(_html.join(""));

                Util.hide_tips();
            });
            }
        };

        $("#get_ets_data").click(function () {
            if ($("#util-tips-div").length > 0) {
                return false;
            }
            if (EtsInfo.ets_size < 1) {
                return false;
            }

        });

        EtsInfo.get_vm_ets_detail();

    });



</script>
