<ul class="pagination">
    <li class='disabled'><a href='#'><b>共 {{ total_num }} 条，{{ total_page }} 页</b></a></li>
    {% if cur_page > 2 and cur_page - range_page > 1 %}
    <li><a href="{{ url }}?page=1">最前</a></li>
    {% end %}
    {% if cur_page > 1 and show_items < total_page %}
    <li><a href="{{ url }}?page={{ prev_page }}">上一页</a></li>
    {% end %}
    {% for page in range(1, total_page + 1) %}
    {% if not (page >= cur_page + range_page + 1 or page <= cur_page - range_page - 1) or total_page <= show_items %}
    {% if cur_page == page%}
    <li class="active"><a href="{{ url }}?page={{ page }}">{{ page }}</a></li>
    {% else %}
    <li><a href="{{ url }}?page={{ page }}">{{ page }}</a></li>
    {% end %}
    {% end %}
    {% end %}
    {% if cur_page < total_page and show_items < total_page %}
    <li><a href="{{ url }}?page={{ next_page }}">下一页</a></li>
    {% end %}
    {% if cur_page < total_page - 1 and cur_page + range_page - 1 < total_page and show_items < total_page %}
    <li><a href="{{ url }}?page={{ total_page }}">最后</a></li>
    {% end %}
</ul>